.lista-produto-del{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    text-align: center;
}

.lista-produto-del input{
    height: 29px;
    width: -webkit-fill-available;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 20px;
}

.myButton{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #4B0082;
    background: none;
    margin-top: 10px;
    color: #4B0082;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.myButton:hover {
    background: #4B0082;
    color: #fff;
}