.lista-produto-add{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.lista-produto-add input{
    height: 29px;
    width: -webkit-fill-available;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 20px;
}

.myButton{
    height: 42px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.87);
    background: none;
    margin-top: 10px;
    color: rgb(29, 29, 29);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.myButton:hover {
    background: rgb(71, 71, 71);
    color: #fff;
}

.formControl{

    min-width: 245px !important;
}